@font-face {
    font-family: Montserrat;
    /* src: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap"); */
    src: url("../fonts/Montserrat.woff2") format("woff2");
    src: url("../fonts/Montserrat.woff") format("woff");
    src: url("../fonts/Montserrat.otf") format("opentype");
}

* {
font-family: 'Montserrat', sans-serif;
}
