/*body*/
.body {
  position: relative;
  margin: 0 auto; 
  max-width: 1440px;
  max-height: 2700px;
  font-weight: medium;
  font-family: "Montserrat", sans-serif;
}
  
/* header */
.header {
  position: absolute;
  width: 461px;
  height: 900px;
  background: black;
}

.logo {
  position: absolute;
  width: 98px;
  height: 37px;
  left: 11.3%;
  top: 36px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFF;
}

.ru {
  position: absolute;
  width: 49px;
  height: 25px;
  left: 388px;
  top: 42px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFF;
}

.ru__vector {
  width: 11px;
  height: 5.5px;
}

.inst {
  position: absolute;
  left: 52px;
  top: 816px;
}

.vk {
  position: absolute;
  left: 107.01px;
  top: 816px;
}

.facebook {
  position: absolute;
  left: 162.02px;
  top: 816px;
}

.menu {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 1348px;
}
.menu_icon {
  visibility: hidden;
}

/* section_main*/
.section_main {
  width: 1440px;
  height: 900px;
}

.model {
  position: absolute;
  left: 13.4%;
  top: 174px;
}

.model-mobi {
  visibility: hidden;
}
 
.wrap__title {
  position: absolute;
  width: 475px;
  height: 164px;
  left: 796px;
  top: 281px;
  margin: 0;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  font-stretch: expanded;
  color: #000;
}

.text {
  position: absolute;
  width: 467px;
  height: 127px;
  left: 796px;
  top: 447px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000;
  line-height: 21px;
}

.button_next {
  position: absolute;
  width: 203px;
  height: 44px;
  left: 792px;
  top: 622px;
  text-transform: uppercase;
  font-size: 13px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  background: #FFF;
}

.section_main__link_catalog {
  position: absolute;
  width: 280px;
  height: 44px;
  left: 1015px;
  top: 638px;
  margin-left:40px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 13px;
}

.vector {
  left: 1296px;
  top: 636px;
  width: 43px;
  margin-left: 19px;
}

.big-rectangle {
  position: absolute;
  width: 27px;
  height: 46px;
  left: 711px;
  top: 819px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 15px;
}

.small-rectangle {
  position: absolute;
  width: 2.45px;
  height: 8.21px;
  left: 723.27px;
  top: 830.5px;
  background: #000;
  border-radius: 19px;
}

.vector-adapt {
  visibility: hidden;
}

/* Section Product*/
.section_product {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 900px;
  background: #FAE8E4;
}

.product {
  position: absolute;
  width: 488px;
  height: 556px;
  left: 879px;
  top: 168px;
  background: #FFF;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.big-clutch {
  position: relative;
  width: 582px;
  height: 844px;
  left: 231px;
  top: 28px;
  z-index: 1;
}

.small-clutch {
  position: absolute;
  width: 398px;
  height: 415px;
  left: 137px;
  top: 217px;
}

.clutch {
  visibility: hidden;
}
.product__title {
  position: absolute;
  width: 340px;
  height: 41px;
  left: 56px;
  top: 11px;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
}

.title_autumn {
  position: absolute;
  width: 220px;
  height: 17px;
  left: 55px;
  top: 84px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #000;
  opacity: 0.5;
}

.product__desc {
  position: absolute;
  width: 375px;
  height: 148px;
  left: 55px;
  top: 167px;
  line-height: 21px;
  font-weight: normal;
  font-size: 15px;
  color: #000;
  opacity: 0.5;
}

.price {
  position: absolute;
  width: 125px;
  height: 57px;
  left: 288px;
  top: 319px;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #000;
}

.button {
  position: absolute;
  width: 253px;
  height: 44px;
  left: 170px;
  top: 468px;
  text-transform: uppercase;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  background: #FFF;
}

.product__add {
  position: absolute;
  width: 100px;
  height: 44px;
  left: 55px;
  top: 468px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clutch-color_gray {
  position: absolute;
  width: 30.18px;
  height: 30px;
  left: 55px;
  top: 379px;
  border-radius: 50%;
  background: #DEDEDE;
}

.clutch-color_pink {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 97px;
  top: 375px;
  border-radius: 50%;
  background: #F29F9F;
}

.clutch-color_purple {
  position: absolute;
  width: 30.18px;
  height: 30px;
  left: 147px;
  top: 379px;
  border-radius: 50%;
  background: #A8BFF9;
}


.clutch-color_green {
  position: absolute;
  width: 30.18px;
  height: 30px;
  left: 189px;
  top: 379px;
  border-radius: 50%;
  background: #90BD8F;
}

.section_product__link_catalog {
  position: absolute;
  width: 488px;
  height: 58px;
  left: 884px;
  top: 764px;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
}

.big-vector {
  left: 1119.5px;
  top: 773px;
  margin-left: 8.5px;
}

/* section look */
.look {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 1800px;
  background: #EBE3D8;
}

.look__img {
  position: relative;  
  left: 83px;
  top: 139px;
  z-index: 1;
}

.look__img_adapt {
  visibility: hidden;
}
.line {
  position: absolute;
  width: 73px;
  height: 900px;
  left: 388px;
  top: 0px;
  background: #000;
}
.look__wrap {
  position: absolute;
  width: 475px;
  height: 351px;
  left: 817px;
  top: 255px;
  z-index: 1;
  background: #FAE8E4;
}

.look__title {
  position: absolute;
  width: 375px;
  height: 41px;
  left: 47px;
  top: 9px;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  color: #000000;
}


.look__title_autumn {
  position: absolute;
  width: 220px;
  height: 17px;
  left: 47px;
  top: 82px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: #000000;
  opacity: 0.5;
}

.look__wrap_desc {
  position: absolute;
  width: 368px;
  height: 101px;
  left: 50px;
  top: 134px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}

.desc-1 {
  margin-bottom: 3px;
}

.desc-2 {
  margin-top: 0;
}

.look__wrap_button {
  position: absolute;
  width: 253px;
  height: 44px;
  left: 162px;
  top: 262px;
  text-transform: uppercase;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  background: #FAE8E4;
}

.look__wrap_add {
  position: absolute;
  width: 100px;
  height: 44px;
  left: 47px;
  top: 262px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.look__link_catalog {
  position: absolute;
  width: 420px;
  height: 14px;
  left: 948px;
  top: 643px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.last-vector {
  left: 1183.5px;
  top: 651px;
  margin-left: 10px;
}
.last-big-vector {
  visibility: hidden;
}

.footer {
  position: absolute;
  width: 210px;
  height: 22px;
  left: 1210px;
  top: 2665px;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.web-hero {
  left: 1337px;
  top: 2662px;
  margin-left: 15px;
}


@media (max-width : 1439px) {
  .body {
    width: 100%;
    height: 100%;
  }

  .header {
    width: 30%;
  }

  .ru {
    left: 85%;
  }

  .section_main {
    width: 100%;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    right: 0;
  }

  .menu {
    left: auto;
  }

  .links__item {
    display: flex;
    justify-content: flex-end;

  }

  .wrap__title {
    width: 400px;
    left: 55%;
    font-size: 68px;

  }

  .text {
    left: 55%;
    width: 450px;
  }

  .button_next {
    left: 55%;
  }

  .section_main__link_catalog {
    left: 70%;
  }

  .vector {
    margin-left: 10px;
  }

  .model {
    width: 37%;
    top: 22%;
  }

  .section_product {
    width: 100%;
  }

  .look {
    width: 100%;
  }

  .big-clutch {
    left: 180px;
    width: 40%;
    height: 85%;
  }

  .small-clutch {
    left: 60px;
  }

  .product {
    left: 60%;
  }

  .section_product__link_catalog {
    left: 60%
  }

  .look__wrap {
    left: 57%;
  }

  .look__img {
    width: 55%;
  }

  .look__link_catalog {
    left: 65%;
  }

  .footer {
    left: 83%;
  }

}

@media (max-width: 1279px) {
  .ru {
    left: 82%;
  }

  .links__item {
    display: flex;
    justify-content: flex-end;
  }

  .button_next {
    width: 180px;
    height: 40px;
  }

  .section_main__link_catalog {
    margin-left: 30px;
    top: 633px;
    width: 250px;
  }

  .model {
    top: 25%;
  }

  .small-rectangle {
    left: 653.27px;
  }

  .big-rectangle {
    left: 641px;
  }

  .big-clutch {
    top: 100px;
    left: 140px;
    width: 38%;
    height: 68%;
  }

  .small-clutch {
    top: 180px;
    left: 50px;
    width: 30%;
    height: 40%;
  }

  .product {
    left: 53%;
    width: 450px;
  }

  .product__title {
    left: 35px;
  }

  .title_autumn {
    left: 35px;
  }

  .product__desc {
    left: 35px;
    top: 150px;
  }
  .section_product__link_catalog {
    left: 70%;
    width: 260px;

  }

  .big-vector {
    margin: 0;
  }

  .line {
    left: 25%;
  }

  .look__img {
    left: 3%;
  }

  .look__wrap {
    left: 53%;
    top: 38%;
  }

  .look__title {
    left: 27px;
  }

  .look__title_autumn {
    left: 27px;
  }

  .look__wrap_desc {
    left: 27px;
  }

  .look__wrap_add {
    left: 27px;
  }

  .look__wrap_button {
    left: 142px;
  }
  
  .look__link_catalog {
    left: 70%;
    width: 260px;
    top: 80%;
  }

  .last-vector {
    visibility: hidden;
  }

  .last-big-vector {
    visibility: visible;
  }

  .footer {
    left: 78%;
  }
}

@media (max-width: 1023px) {
  .ru {
    left: 76%;
  }

  .wrap__title {
    font-size: 60px;
    line-height: 60px;
    top: 27%;
    left: 50%;
    width: 358px;
  }

  .model {
    left: 9%;
    top: 25%;
  }

  .text {
    top: 43%;
    left: 50%;
    width: 40%;
  }

  .button_next {
    left: 38%;
    top: 79%;
  }

  .section_main__link_catalog {
    left: 60%;
    top: 80%;
  }

  .small-rectangle {
    left: 51.5%;
  }

  .big-rectangle {
    left: 50%;
  }

  .small-clutch {
    left: 0;
    top: 30%;
    z-index: 1;
    width: auto;
    height: auto;
  }

  .big-clutch {
    visibility: hidden;
  }

  .product {
    left: 46%;
    width: 48%;
  }

  .product__title {
    font-size: 36px;
  }

  .product__desc {
    width: 80%;
  }

  .clutch-color_gray {
    left: 7%;
  }

  .clutch-color_pink {
    left: 18%;
  }

  .clutch-color_purple {
    left: 31%
  }

  .clutch-color_green {
    left: 42%
  }

  .price {
    left: 60%;
    font-size: 38px;
    top: 325px;
  }

  .product__add {
    width: 20%;
    left: 10%;
  }

  .button {
    width: 55%;
    left: 36%;
  }

  .section_product__link_catalog {
    left: 60%;
  }

  .look__img {
    top: 9%;
    width: 60%;
  }

  .look__wrap {
    left: 35%;
    top: 48%;
  }

  .look__link_catalog {
    left: 60%;
    width: 270px;
    top: 88%;
  }

  .footer {
    left: 70%;
  }
}


@media (max-width: 767px) {

  .header {
    width: 100%;
    max-height: 69px;
    right: 0;
    left: 0;
    z-index: 1;
    background: #FFFFFF;
  }

  .logo {
    width: 98px;
    height: 37px;
    left: 26px;
    top: 14px;
    color: #000000;
  }

  .ru {
    visibility: hidden;
  }

  .social-icons {
    visibility: hidden;
  }

  .text {
    visibility: hidden;
  }
  .button_next {
    visibility: hidden;
  }

  .section_main__link_catalog {
    visibility: hidden;
  }
  .mouse {
    visibility: hidden;
  }

  .links__item {
    visibility: hidden;
  }
  .menu_icon {
    display: flex;
    justify-content: flex-end;
    visibility: visible;
  }

  .section_main {
    width: 100%;
    height: 100%;
  }
  .wrap__title {
    position: absolute;
    width: 297px;
    height: 103px;
    left: 30%;
    top: 77%;
    z-index: 1;      
    font-weight: bold;
    font-size: 50px;
    line-height: 53px;
  }

  .model {
    visibility: hidden;
  }

  .model-mobi {
    position: relative;
    top: 10px;
    visibility: visible;
    width: 100%; 
    height: auto;
  }

  .vector-adapt {
    visibility: visible;
    position: absolute;
    width: 28px;
    height: 14px;
    left: 50%;
    top: 92%;
  }

  .section_main__link_catalog {
    visibility: hidden;
  }
  .section_product {
    top: 100%;
    width: 100%;
    height: 100%;
  }

  .small-clutch {
    visibility: hidden;
  }

  .big-clutch {
    visibility: hidden;
  }

  .clutch {
    position: absolute;
    visibility: visible;
    left: 30%;
    top: 0;
  }

  .product {
    left: 12%;
    top: 320px;
    width: 60%;
    height: 38%;
  }

  .product__title {
    left: 29px;
    width: 260px;
    font-size: 20px;
    margin: 0;
  }

  .title_autumn {
    left: 31px;
    top: 44px;
    font-size: 10px;
    margin: 0;
    letter-spacing: 0.07em;
  }

  .product__desc {
    width: 85%;
    height: 84px;
    left: 31px;
    top: 20%;
    font-size: 10px;
    line-height: 14px;
  }

  .clutch-color_gray {
    width: 23.35px;
    height: 22.89px;
    left: 34px;
    top: 68%;
  }

  .clutch-color_pink {
    width: 29.39px;
    height: 29px;
    left: 66.49px;
    top: 67%;
  }

  .clutch-color_purple {
    width: 23.35px;
    height: 22.89px;
    left: 105.16px;
    top: 68%;
  }

  .clutch-color_green {
    width: 23.35px;
    height: 22.89px;
    left: 137.65px;
    top: 68%;
  }

  .price {
    width: 70.44px;
    height: 32.19px;
    left: 70%;
    top: 63%;
    font-size: 20px;
    margin: 0;
  }

  .product__add {
    visibility: hidden;
  }

  .button {
    left: 10%;
    top: 80%;
    width: 80%;
    height: 37px;
    border: 1px solid #000000;
  }
  .section_product__link_catalog {
    visibility: hidden;
  }
  .line {
    width: 41px;
    height: 100%;
    left: 25%;
  }
  .look {
    top: 200%;
    width: 100%;
    height: 100%;
  }

  .look__img {
    visibility: hidden;
  }
  .look__img_adapt {
    visibility: visible;
    position: absolute;
    z-index: 1;
    left: 8%;
    top: 5%;
  }

  .look__wrap {
    width: 305px;
    height: 195px;
    left: 16%;
    top: 41%;
  }
  .look__title {
    width: 245.53px;
    height: 26.87px;
    left: 30px;
    top: 9px;
    font-size: 20px;
    margin: 0; 
  }
  .look__title_autumn {
    left: 31px;
    top: 44px;
    font-size: 10px;
    margin: 0;
    letter-spacing: 0.07em;
  }

 .look__wrap_desc {
    width: 228px;
    height: 66px;
    left: 31px;
    top: 60px;
    font-size: 9px;
    line-height: 13px;
  }

  .look__wrap_add {
    visibility: hidden;
  }
  .look__wrap_button {
    width: 260px;
    height: 37px;
    left: 32px;
    top: 130px;  
    border: 1px solid #000000;
  }

  .look__link_catalog {
    width: 150px;
    height: 58px;
    left: 52%;
    top: 80%;
    font-size: 15px;
    line-height: 18px;
  }

  .last-vector {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .last-big-vector {
    visibility: visible;
  }
  .footer {
    visibility: hidden;
  }
}

@media (max-width: 480px) {

  .wrap__title {
    left: 18%;
    top: 72%;
    font-size: 48px;
  }

  .product {
    left: 9%;
    top: 50%;
    width: 320px;
    height: 271px;
  }

  .clutch {
    visibility: visible;
    left: 20%;
  }

  .clutch-color_gray {
    width: 22.35px;
    height: 21.89px;
  }

  .clutch-color_pink {
    width: 28.39px;
    height: 28px;
  }

  .clutch-color_purple {
    width: 22.35px;
    height: 21.89px;
  }

  .clutch-color_green {
    width: 22.35px;
    height: 21.89px;
  }

  .price {
    left: 210px;
  }

  .button {
    width: 240px;
    height: 33px;
  }

  .look__img_adapt {
    left: 3%;
    top: 5%;
  }

  .look__wrap {
    width: 300px;
    height: 185px;
    left: 14%;
  }

  .look__wrap_button {
    width: 230px;
    height: 30px;
  }

  .line {
    width: 36px;
  }

}

@media (min-width: 320px) and (max-width: 374px) {

  .header {
    height: 55px;
  }

  .logo {
    font-size: 25px;
  }

  .burger {
    position: relative;
    width: 90%;
    height: 55px;
    left: 7px;
  }
  .wrap__title {
    left: 10%;
    top: 73%;
    font-size: 40px;
    line-height: 45px;
  }

  .vector-adapt {
    top: 94%;
    left: 48%;
  }

  .product {
    left: 8%;
    top: 42%;
    width: 265px;
  }

  .product__title {
    font-size: 18px;
    line-height: 46px;
  }
  .product__desc {
    width: 202px;
    font-size: 8px;
  }

  .clutch {
    height: 48%;
    width: 58%;
    left: 22%;
  }

  .clutch-color_gray {
    width: 21.35px;
    height: 20.89px;
    top: 180px;
  }

  .clutch-color_pink {
    width: 26.39px;
    height: 26px;
    top: 176.89px;
    left: 64.49px;
  }

  .clutch-color_purple {
    width: 21.35px;
    height: 20.89px;
    top: 180px;
    left: 100.16px;
  }

  .clutch-color_green {
    width: 21.35px;
    height: 20.89px;
    top: 180px;
    left: 132.65px;
  }

  .price {
    left: 180px;
    top: 165px;
    font-size: 18px;
  }

  .button {
    width: 203px;
    height: 30px;
    top: 80%;
    font-size: 12px;
  }

  .look__img_adapt {
    left: 3%;
    top: 5%;
    width: 93%;
    height: 42%;
  }

  .look__wrap {
    width: 260px;
    height: 180px;
    left: 13%;
  }

  .look__title {
    font-size: 18px;
  }
  .look__wrap_desc {
    width: 208px;
  }

  .look__wrap_button {
    width: 203px;
    font-size: 12px;
  }

  .line {
    width: 36px;
  }

  .look__link_catalog {
    width: 130px;
    font-size: 12px;
  }

  .last-big-vector {
    width: 90%;
  }

}